
<div class="card mb-4">
    <img src="{{member?.photoUrl}}" class="card-img-top" alt="{{member?.knownAs}}">
    <ul class="list-inline  animate text-center">
        <li class="list-inline-item">
            <a routerLink="/members/{{member?.userName}}"><img src="assets/images/accountIcon.png" style="width:25px;height:25px;"/></a>
        </li>

        <li class="list-inline-item">
           
            <a href=""> <img src="assets/images/likeIcon.png" style="width:25px;height:25px;"/></a>
        </li>

        <li class="list-inline-item">
           <a href=""><img src="assets/images/mailIcon.png" style="width:25px;height:25px;"/></a> 
        </li>
    </ul>
    <div class="card-body p-1">
      <h5 class="card-title text-center mb-1">
        <i class="fa fa-user mr-2"></i>
        {{member?.knownAs}},{{member?.age}}
        </h5>
      <p class="card-text">{{member?.city}}</p>
      
    </div>
  </div>
